{% extends 'base.html' %}

{% block content %}
<h1>Consultas</h1>
<a href="{% url 'agregar_consulta' %}" class="btn btn-primary mb-3">Agregar Consulta</a>
<table class="table">
    <thead>
        <tr>
            <th>Mascota</th>
            <th>Veterinario</th>
            <th>Fecha de Consulta</th>
            <th>Motivo</th>
            <th>Diagnóstico</th>
            <th>Tratamiento</th>
            <th>Costo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for consulta in consultas %}
        <tr>
            <td>{{ consulta.id_mascota.nombre }}</td>
            <td>{{ consulta.id_veterinario.nombre }}</td>
            <td>{{ consulta.fecha_consulta }}</td>
            <td>{{ consulta.motivo }}</td>
            <td>{{ consulta.diagnostico }}</td>
            <td>{{ consulta.tratamiento }}</td>
            <td>{{ consulta.costo }}</td>
            <td>
                <a href="{% url 'actualizar_consulta' consulta.id_consulta %}" class="btn btn-secondary">Actualizar</a>
                <a href="{% url 'borrar_consulta' consulta.id_consulta %}" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
