{% extends 'base.html' %}

{% block content %}
<h1>Agregar Vacuna</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
    </div>
    <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <input type="text" class="form-control" id="tipo" name="tipo" required>
    </div>
    <div class="mb-3">
        <label for="fecha_aplicacion" class="form-label">Fecha de Aplicación</label>
        <input type="date" class="form-control" id="fecha_aplicacion" name="fecha_aplicacion" required>
    </div>
    <div class="mb-3">
        <label for="id_mascota" class="form-label">Mascota</label>
        <select class="form-select" id="id_mascota" name="id_mascota" required>
            {% for mascota in mascotas %}
                <option value="{{ mascota.id_mascota }}">{{ mascota.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>
{% endblock %}
