{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Ver Dueños</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Dirección</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha de Registro</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for dueño in dueños %}
            <tr>
                <th scope="row">{{ dueño.id_dueño }}</th>
                <td>{{ dueño.nombre }}</td>
                <td>{{ dueño.telefono }}</td>
                <td>{{ dueño.direccion }}</td>
                <td>{{ dueño.email }}</td>
                <td>{{ dueño.fecha_registro }}</td>
                <td>
                    <a href="/actualizar_dueño/{{ dueño.id_dueño }}" class="btn btn-primary">Editar</a>
                    <a href="/borrar_dueño/{{ dueño.id_dueño }}" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}