{% extends 'base.html' %}

{% block content %}
<h1>Veterinarios</h1>
<a href="{% url 'agregar_veterinario' %}" class="btn btn-primary mb-3">Agregar Veterinario</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Num. Colegiado</th>
            <th>Turno</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for veterinario in veterinarios %}
        <tr>
            <td>{{ veterinario.nombre }}</td>
            <td>{{ veterinario.especialidad }}</td>
            <td>{{ veterinario.telefono }}</td>
            <td>{{ veterinario.email }}</td>
            <td>{{ veterinario.num_colegiado }}</td>
            <td>{{ veterinario.turno }}</td>
            <td>
                <a href="{% url 'actualizar_veterinario' veterinario.id_veterinario %}" class="btn btn-secondary">Actualizar</a>
                <a href="{% url 'borrar_veterinario' veterinario.id_veterinario %}" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
